h1 {
    color: red;
text-align: center;

}
p {text-align: center;}
div {text-align: center;}
clock {
            font-size: 24px;
            font-weight: bold;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            text-align: center;
        }
    
img {
    display: block;
    margin: 20px auto; /* Adding margin for spacing */
    max-width: 80%; /* Limiting image width to 80% of the container */
    height: auto; /* Ensuring aspect ratio */
    border-radius: 10px; /* Adding rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Adding box shadow for depth */
}

/* CSS for styling the images as an album */
.album {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    justify-items: center;
}

.album img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
